<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Collection</title>
    {% load static %}
</head>
<body>

<h1>COLLECTIONS</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio incidunt iusto nulla rerum. Beatae cum dolor dolorem doloremque eum fugiat incidunt laborum non placeat quam, quasi quibusdam reiciendis ut vero.</span><span>Cumque, distinctio est, eveniet ipsa ipsam laboriosam laudantium minima, perferendis quaerat quas quidem reprehenderit. Architecto at culpa dignissimos ducimus eaque, earum exercitationem laudantium nesciunt nisi porro, qui ratione suscipit voluptatum?</span><span>Accusamus excepturi facilis illo minima natus necessitatibus totam unde. Accusantium beatae, culpa fugit in iure, modi molestiae neque, nisi nostrum officiis quia ut voluptatem voluptatum. Assumenda blanditiis modi perferendis velit!</span></p>
<img src="{% static 'assets/download.jfif' %}" alt="">
<img src="{% static 'assets/carr.jfif' %}" alt="">
<img src="{% static 'assets/animals.jfif' %}" alt="">


</body>
</html>     