<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
</head>
<body>
<h1>My Gallery</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam culpa deleniti dolorum earum enim exercitationem iure iusto laborum maxime non quae quaerat repellat sit suscipit, temporibus, vel vitae, voluptate.</span><span>A, amet consequatur corporis culpa cumque, ducimus ea earum fugit ipsum minus omnis perferendis quia temporibus tenetur totam. Ad dolorum eius excepturi fugit magnam minus modi, mollitia optio reprehenderit totam.</span></p>
</body>
</html>